
<div class="container">
  <nav class="navbar navbar-default ">
    <ul class="nav navbar-nav">
      <li routerLink="/TestComponent" routerLinkActive="active"><a >Test</a></li>
      <li routerLink="/TestNgforComponent" routerLinkActive="active"><a >Test Ngfor</a></li>
      <li routerLink="/TestBindingComponent" routerLinkActive="active"><a >Tes tBinding</a></li>
      <li routerLink="/TestElementsComponent" routerLinkActive="active"><a >Test Elements</a></li>
      <li routerLink="/TestAnimation" routerLinkActive="active"><a >Test Animation</a></li>
      <li routerLink="/TestAnimationB" routerLinkActive="active"><a >Test AnimationB</a></li>
      <li routerLink="/TestAnimationC" routerLinkActive="active"><a >Test AnimationC</a></li>
      <li routerLink="/TestAnimationD" routerLinkActive="active"><a >Test Animation D</a></li>
      <li routerLink="/SortbyComponent" routerLinkActive="active"><a >Sortby</a></li>
      <li routerLink="/TableStripedComponent" routerLinkActive="active"><a >Table Striped</a></li>
      <li routerLink="/ContainerTableModComponent" routerLinkActive="active"><a >Table Modular</a></li>
    </ul>
  </nav>
</div>