<br>
<br>

	<app-navbar></app-navbar>
	<router-outlet></router-outlet>
	<!--
	<test-animation-component></test-animation-component>
	<animation-b-component [heroes]="heroes"></animation-b-component>
	<animation-c-component></animation-c-component>
	<animation-d-component></animation-d-component>
	<test-component [tabsBadges]="tabsBadges"></test-component>
	<test-ngfor-component [tabsBadges]="tabsBadges"></test-ngfor-component>
	<test-binding [tabsBadges]="tabsBadges"></test-binding>
	<test-html-elements></test-html-elements>
	-->

	<br>
	<br>
	<br>

